/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END OF CSS RESET */
header {
  padding: 1rem;
  text-align: center;
}

.choose-grid{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#container{
  background-color: white;  
  box-shadow: 1px 1px 10px lightgray;
  margin: 2rem auto;
  display: grid;
  gap: 0;
}

.four {
  grid-template-columns: repeat(4, 1fr);
}

.eight {
  grid-template-columns: repeat(8, 1fr);
}

.sixteen {
  grid-template-columns: repeat(16, 1fr);
}

.four, .eight, .sixteen {
  width: 20rem;
  height: 20rem;
}

.square {
  text-align: center;
}

.black {
  background-color: black;
}

#clear {
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

button {
  border: 2px solid black;
  border-radius: 5%;
  background: white;
}

button:hover{
  cursor: pointer;
}

#four, #eight, #sixteen, #clear{
  transition: 0.25s;
} 

#four:hover, #eight:hover, #sixteen:hover, #clear:hover{
  background-color: black;
  color: white;
} 

#colours, #black {
  width: 5rem;
  transition: 0.5s;
}

.selected-color {
  border: 3px solid transparent;
  background: -webkit-linear-gradient(#3f5efb, #fc466b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(#3f5efb, #fc466b);
  border-image-slice: 1;
  transform: scale(1.3);
}

.selected-black {
  color: white;
  background-color: black;
  transform: scale(1.3);
}

#ui {
  width: 50%;
  padding: 1rem;
  margin-inline: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
}

#choose-color{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#clear{
  margin-bottom: 5rem;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  padding: 1rem;
  left: 0;
  bottom: 0;
}

footer>address{
  font-style: normal;
}

#github-link{
  color: white;
}

#color-picker{
  border: none;
  background-color: white;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
  html{
    font-size: 10px;
  } 

  #ui{
    width: 100%;
    gap: 1rem;
  }

  .four, .eight, .sixteen {
    width: 10rem;
    height: 10rem;
  }

 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) { 
  html{
    font-size: 14px;
  }

  #ui{
    width: 75%;
    justify-content: space-between;
  }

  .four, .eight, .sixteen {
    width: 15rem;
    height: 15rem;
  }

 }